{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Créer nouveaux clients émails</h1>

                {{ form_start(form) }}
                {% form_theme form 'bootstrap_5_layout.html.twig' %}
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control','placeholder': 'Votre nom...'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control','placeholder': 'Votre prénom...'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.telephone, {'attr': {'class': 'form-control','placeholder': 'Votre entreprise...'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre code postal...'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.checkbox, {'attr': {'class': 'form-control','placeholder': 'Votre ville...'}}) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Envoyer" class="btn btn-success">
                    </div>
                </div>
                {{ form_end(form) }}

                <a class="btn btn-primary" href="{{ path('contact_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
