{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Creér une nouvelle course</h1>

    {{ form_start(formulaireCourse) }}
    {% form_theme formulaireCourse 'bootstrap_5_layout.html.twig' %}
    <div class="col-sm-6">
        <div class="form-group">
            {{ form_row(formulaireCourse.adresseDepart, {'attr': {'class': 'form-control','placeholder': 'Saissisez votre adresse de départ'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(formulaireCourse.adresseArrivee, {'attr': {'class': 'form-control','placeholder': "Saissisez votre adresse de d'arrivée"}}) }}
        </div>
        <div class="form-group">
            {{ form_row(formulaireCourse.passagers, {'attr': {'class': 'form-control', 'placeholder': 'Saissisez le nombre de passagers'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(formulaireCourse.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Envoyer" class="btn btn-success">
        </div>
    </div>
    {{ form_end(formulaireCourse) }}

    <a class="btn btn-primary" href="{{ path('course_index') }}">Retour</a>
{% endblock %}
