{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ course.id }}</td>
        </tr>
        <tr>
            <th>AdresseDepart</th>
            <td>{{ course.adresseDepart }}</td>
        </tr>
        <tr>
            <th>AdresseArrivee</th>
            <td>{{ course.adresseArrivee }}</td>
        </tr>
        <tr>
            <th>Passagers</th>
            <td>{{ course.passagers }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ course.date ? course.date|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('course_index') }}">Retour à la liste</a>

    <a class="btn btn-success"href="{{ path('course_edit', {'id': course.id}) }}">Éditer</a>

    <a class="btn btn-success"href="{{ path('add', {'id': course.id}) }}">ajouter</a>

    {{ include('/administrator/course/_delete_form.html.twig') }}
{% endblock %}
