{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-admin">
        <div class="container">
            <h2 class="H2-corps">Comptabilité 2022</h2>
            <a class="button2 btn btn-primary" href="{{ path('compta_index') }}">Retour</a>
            <a class="button2 btn btn-danger" href="{{ asset('/logout') }}">Se déconnecter</a>
            <div class="card-admin2 mt-5">
                {% for facture in factures %}
                    <div class="row">

                        <div class="col">
                            <p><strong>Date de la facture:</strong> {{ facture.dateReservation }}</p>
                        </div>
                        <div class="col">
                            <p><strong>Nom client:</strong> {{ facture.nom }}</p>
                        </div>
                        <div class="col">
                            <a href="{{ path('pdf_compta_id', {id: facture.id}) }}" class="button2 btn btn-success mb-3"
                               target="_blank">Télécharger la facture client</a>
                        </div>
                        <hr>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="10">Pas de résultat</td>
                    </tr>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <h5>Recettes actuelles HT</h5>
                        <h2 class="H2-corps">{{ recettes * 0.90 }}€</h2>
                    </div>
                    <div class="col">
                        <h5>Recettes actuelles TTC</h5>
                        <h2 class="H2-corps">{{ recettes }}€</h2>
                    </div>
                    <div class="col">
                        <h5>Nombres de courses</h5>
                        <h2 class="H2-corps">{{ courses }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
