{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-admin">
        <div class="container">
            <h2 class="H2-corps">Comptabilité 2022</h2>
            <a class="button2 btn btn-primary" href="{{ path('compta_index') }}">Retour</a>
            <a class="button2 btn btn-danger" href="{{ asset('/logout') }}">Se déconnecter</a>
            <div class="card-admin2 mt-5">
                {% for facture in factures %}
                    <div class="row">
                        <div class="col">
                            {% if facture.prix  > 0 %}
                                <p><strong>Type:</strong> Facture</p>
                                {% else %}
                                    <p><strong>Type:</strong> Avoir</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            <p><strong>Date réservation:</strong> {{ facture.dateReservation }}</p>
                        </div>
                        <div class="col">
                            <p><strong>Nom client:</strong> {{ facture.nom }}</p>
                        </div>
                        <div class="col">
                            <p><strong>Prix:</strong> {{ facture.prix }}€</p>
                        </div>
                        <div class="col">
                            <a href="{{ path('pdf_compta_id', {id: facture.id}) }}" class="button2 btn btn-success mb-3"
                               target="_blank">Télécharger</a>
                        </div>
                        <div class="col">
                            {% if facture.prix  > 0 %}
                                <a href="{{ path('facture_avoir', {id: facture.id}) }}" class="button2 btn btn-info mb-3"
                                   target="_blank">Transformer en avoir</a>
                            {% endif %}

                        </div>
                        <hr>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="10">Pas de résultat</td>
                    </tr>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <h6>Recettes actuelles HT</h6>
                        <h2 class="H2-corps">{{ recettes * 0.90 }}€</h2>
                    </div>
                    <div class="col">
                        <h6>TVA</h6>
                        <h2 class="H2-corps">{{ recettes * 10/100 }}€</h2>
                    </div>
                    <div class="col">
                        <h6>Recettes actuelles TTC</h6>
                        <h2 class="H2-corps">{{ recettes }}€</h2>
                    </div>
                    <div class="col">
                        <h6>Nombres de courses</h6>
                        <h2 class="H2-corps">{{ courses }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
