{% extends 'base.html.twig' %}

{% block title %}Calendrier index{% endblock %}

{% block body %}
    <h1>Calendrier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Entreprise</th>
                <th>Rue</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Depart</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.id }}</td>
                <td>{{ calendrier.nom }}</td>
                <td>{{ calendrier.prenom }}</td>
                <td>{{ calendrier.entreprise }}</td>
                <td>{{ calendrier.rue }}</td>
                <td>{{ calendrier.codePostal }}</td>
                <td>{{ calendrier.ville }}</td>
                <td>{{ calendrier.telephone }}</td>
                <td>{{ calendrier.email }}</td>
                <td>{{ calendrier.depart ? calendrier.depart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.fin ? calendrier.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('calendrier_show', {'id': calendrier.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('calendrier_edit', {'id': calendrier.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('calendrier_new') }}">Nouveau</a>
    <a class="btn btn-primary" href="{{ path('rendu') }}">Retour</a>
{% endblock %}
