{% extends 'base.html.twig' %}

{% block title %}Réservation VTC{% endblock %}
{% block meta_description %}Cardoso VTC votre chauffeur privée sur Frontignan{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
{% endblock %}

{% block body %}
    <section class="section-reservation">
        <div class="parallax-effect4">
        <div class="container">
            <div class="row">
                <div class="col ">
                    {% for rubrique, messages in app.flashes %}
                        <div class="alert alert-{{ rubrique }}">
                            <h2>Informations de la course</h2>
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
                <div class="col ">
                    {{ form_start(formulaireCommande) }}
                    {% form_theme formulaireCommande 'bootstrap_5_layout.html.twig' %}
                    <div class="col form-fond wow animate__animated animate__zoomIn">
                        <h2 class="H2-corps">Réserver la course</h2>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.nom, {'attr': {'class': 'form-control','placeholder': 'Votre nom...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.prenom, {'attr': {'class': 'form-control','placeholder': 'Votre prénom...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.entreprise, {'attr': {'class': 'form-control','placeholder': 'Votre entreprise...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.rue, {'attr': {'class': 'form-control', 'placeholder': 'Votre rue...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.codepostal, {'attr': {'class': 'form-control', 'placeholder': 'Votre code postal...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.ville, {'attr': {'class': 'form-control','placeholder': 'Votre ville...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Votre téléphone...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.infos, {'attr': {'class': 'form-control', 'placeholder': 'Étage, code portail, etc...'}}) }}
                        </div>
                        <div class="form-group form-text">
                            {{ form_row(formulaireCommande.confidentialite, {'attr': {'class': 'form-control', 'placeholder': 'Votre email...'}}) }}
                            J’autorise ce site à conserver mes données personnelles transmises via ce formulaire. Aucune exploitation
                            commerciale ne sera faite des données conservées. Voir notre politique de gestion des données personnelles
                            sur la page (Politique de confidentialité)
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="submit" value="Payer" class="button2 btn btn-danger">
                        </div>
                    </div>
                    {{ form_end(formulaireCommande) }}
                </div>
            </div>

        </div>
        </div>
    </section>

{% endblock %}
